@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/common';
@import './components/section-header/header-common';
@import './components/section-header/header-navigation';
@import './components/section-header/header-logo';
@import './components/section-header/header-menu-button';
@import './components/section-header/header-contacts';
@import './components/section-header/header-socialmedia';
@import './components/section-one/one-common';
@import './components/section-one/one-buttons';
@import './components/section-one/one-backdrop';
@import './components/section-one/one-modal';
@import './components/section-one/one-form';
@import './components/section-feature/feature';
@import './components/section-work/work-common';
@import './components/section-work/work';
@import './components/section-team/team-common';
@import './components/section-team/team';
@import './components/section-team/team-socialmedia';
@import './components/section-clients/clients-common';
@import './components/section-clients/clients';
@import './components/section-footer/footer-common';
@import './components/section-footer/footer-logo';
@import './components/section-footer/footer-address';
@import './components/section-footer/footer-join';
@import './components/section-footer/footer-subscribe';
@import './components/section-footer/footer-form';
@import './components/section-footer/footer-button';
@import './components/section-portfolio/portfolio-common';
@import './components/section-portfolio/portfolio';
@import './components/section-portfolio/portfolio-card-descr';
@import './components/section-portfolio/portfolio-but-filter';
@import './components/section-contacts/contacts';