.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work__list {
  display: flex;
  margin-top: 50px;
}

.work__item {
  &:not(:last-child) {
    margin-right: 30px;
    }
}

.work__card {
  position: relative;
}

.work__card {
  @media screen and (min-width: 768px) {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1.1);
    }
  }
}

.work__description {
  position: absolute;
  bottom: 0;

  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

.work__name {
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
  color: $third-color;
}
