$main-text-color: #212121;
$header-background-color: #FFFFFF;
$footer-background-color: #2F303A;
$first-background-color: #F5F4FA;
$second-color: #2196f3;
$third-color: #FFFFFF;
$hoverfocus-color: #2196F3;
$main-font: 'Roboto', sans-serif;
$second-font: 'Raleway';